// Custom styles.
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 334px;
    pointer-events: none;
}
.brand{
	background:#ff6262;
}
#header{
	background-image: url(/images/bite.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
}
.custom-logo-site-title{
	opacity:0.6;
}
.site-subtitle{
    font-family: 'Barrio', 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.sidebar-toggle{
    left:30px;
}
.sidebar{
    left:0;
}